[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
altair = "*"
libpython = "*"
cmdstanpy = {extras = ["all"], version = "*"}
arviz = "*"
seaborn = "*"

[requires]
python_version = "3.7"
